Options -MultiViews
RewriteEngine On

RewriteRule ^obtenertodoslosclientes/?$ SistemaComercio/respuestas/Cliente/obtenerTodosLosClientes.php [L,QSA]
RewriteRule ^obtenerclienteporid/([0-9]+)/?$ SistemaComercio/respuestas/Cliente/obtenerClientePorId.php?id=$1 [L,QSA]
RewriteRule ^obtenerclienteporrut/([^/]+)/?$ SistemaComercio/respuestas/Cliente/obtenerClientePorRut.php?rut=$1 [L,QSA]
RewriteRule ^crearcliente/?$ SistemaComercio/respuestas/Cliente/crearCliente.php [L,QSA]
RewriteRule ^modificarcliente/([0-9]+)/?$ SistemaComercio/respuestas/Cliente/modificarCliente.php?id=$1 [L,QSA]
RewriteRule ^eliminarcliente/([0-9]+)/?$ SistemaComercio/respuestas/Cliente/eliminarCliente.php?id=$1 [L,QSA]

RewriteRule ^obtenertodoslosproductos/?$ SistemaComercio/respuestas/Producto/obtenerTodosLosProductos.php [L,QSA]
RewriteRule ^obtenerproductoporid/([0-9]+)/?$ SistemaComercio/respuestas/Producto/obtenerProductoPorId.php?id=$1 [L,QSA]
RewriteRule ^crearproducto/?$ SistemaComercio/respuestas/Producto/crearProducto.php [L,QSA]
RewriteRule ^modificarproducto/([0-9]+)/?$ SistemaComercio/respuestas/Producto/modificarProducto.php?id=$1 [L,QSA]
RewriteRule ^eliminarproducto/([0-9]+)/?$ SistemaComercio/respuestas/Producto/eliminarProducto.php?id=$1 [L,QSA]

RewriteRule ^obtenertodoslospedidos/?$ SistemaComercio/respuestas/Pedido/obtenerTodosLosPedidos.php [L,QSA]
RewriteRule ^obtenerpedidoporid/([0-9]+)/?$ SistemaComercio/respuestas/Pedido/obtenerPedidoPorId.php?id=$1 [L,QSA]
RewriteRule ^obtenerpedidosporcliente/([0-9]+)/?$ SistemaComercio/respuestas/Pedido/obtenerPedidosPorCliente.php?clienteId=$1 [L,QSA]
RewriteRule ^crearpedido/?$ SistemaComercio/respuestas/Pedido/crearPedido.php [L,QSA]
RewriteRule ^modificarpedido/([0-9]+)/?$ SistemaComercio/respuestas/Pedido/modificarPedido.php?id=$1 [L,QSA]
RewriteRule ^cambiarestadopedido/([0-9]+)/?$ SistemaComercio/respuestas/Pedido/cambiarEstadoPedido.php?id=$1 [L,QSA]

RewriteRule ^obtenertodoslospagos/?$ SistemaComercio/respuestas/Pago/obtenerTodosLosPagos.php [L,QSA]
RewriteRule ^obtenerpagoporid/([0-9]+)/?$ SistemaComercio/respuestas/Pago/obtenerPagoPorId.php?id=$1 [L,QSA]
RewriteRule ^obtenerpagoporpedido/([0-9]+)/?$ SistemaComercio/respuestas/Pago/obtenerPagoPorPedido.php?pedidoId=$1 [L,QSA]
RewriteRule ^crearpago/?$ SistemaComercio/respuestas/Pago/crearPago.php [L,QSA]
RewriteRule ^cambiarestadopago/([0-9]+)/?$ SistemaComercio/respuestas/Pago/cambiarEstadoPago.php?id=$1 [L,QSA]
